.Inputs {
    width: 100vw;
    max-width: 300px;
    margin: 0 auto 1rem;
    height: 60%;
}
.Word {
    width: fit-content;
    margin: 0 auto;
    height: 16%;
    display: flex;
}
.Letter {
    /* border:  1px solid; */
    box-shadow: 0 0 5px #ddd;
    border-radius: 0.5rem;
    font-size: 1.8em;
    margin: 0.3rem;
    min-width: 2.4ch;
    min-height: 80%;
    display: inline-flex;
    align-items: center;
    justify-content:  center;
}