.Keyboard {
  width: calc(100vw - 3rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
}

.KeyRow {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.KeyRow strong {
    background: #444;
    margin: 0.1rem;
    padding: 1rem;
    height: 2rem;
    min-width: 2rem;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Keyboard strong:hover {
    box-shadow: #fff 0 0 5px;
}

.Keyboard .Enter {
    font-size: 1rem;
    min-width: fit-content;
    padding: 0.5rem;
}

.Keyboard .Backspace {
    min-width: fit-content;
    padding: 0.5rem;
    font-size: 1.2rem;
}

@media (min-width: 500px) {
    .Keyboard {
        max-width: 300px;
        font-size: 1.5em;
    }
    
    .Keyboard strong {
        height: 3rem;
        width: 3rem;
    }
    
    .Keyboard .Backspace {
        padding: 0.6rem;
    }
}